@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,th,td{margin:0;padding:0}
body{background-color:#222222;font-family:MicroSoft YaHei,Helvetica,Arial,Verdana,Geneva,sans-serif; font-size:12px;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit}
h1,h2,h3,h4,h5,h6,strong{font-size:100%;font-weight:bold;}
input,textarea,select{font-family:inherit;font-size:inherit;outline: none;font-weight:inherit}
fieldset,img{border:0;vertical-align: middle;}
li{list-style:none}
a{text-decoration:none; cursor: pointer; color:inherit;text-align:left;color:#03c; font-weight:400;}
.comment { margin-top:5px; padding:10px; padding-left:10px; border:1px solid #C6D9E7; background:#fff; }
.wrap{width:1050px; min-width:1050px; margin:0 auto;}
.top{ width:100%; height:42px; background:#52B6EF; line-height:42px; position:fixed; top:0; z-index:999; color:#FFF; font-size:12px;}
.logo{ display:block; float:left; width:60px; height:44px; margin-right:10px; background-position:center center; background-repeat:no-repeat; background-size:54px 36px;}
.hoverFFF:hover{ color:#FFF}
.mtop{margin-top:10px;}
.left{float:left;}
.right{float:right;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.clear{ clear:both;}
.hoverBg:hover{ background-color:#ec6a6a; transition:background-color 0.4s;-moz-transition:background-color 0.4s; -webkit-transition:background-color 0.4s; -o-transition:background-color 0.4s;}
.navbar{ height:42px;margin-top:50px;}
.navbar li{ height:42px; width:150px; float:left; margin-right:1px; background-color:#52b6ef; border-radius:0px;}
.navbar li a{ display:block; width:150px; line-height:42px; text-align:center;  color:#fff;}
.navbar .navinfo{ line-height:42px; color:#F1E8E8; font-size:12px; margin-right:5px;}
.navbar .navinfo div{ text-indent:50px; color:#EDEFF3;}
.navbar .navinfo div a{ font-size:18px; color:#F00; font-weight:900;}
.navbar .navinfo div a:hover{ color:#F06}
.hotbox{ width:1080px; margin:0 auto;}
.logo-web-list{ width:80px; height:90px; position:relative; float:left; margin:5px 6px;}
.logo-web-list a{ width:80px; height:90px; display:block; font-size:12px;}
.logo-web-list a:hover .logo-web-img{ background-color:#F60; transition:background-color 0.4s;-moz-transition:background-color 0.4s; -webkit-transition:background-color 0.4s; -o-transition:background-color 0.4s;}
.logo-web-list a:hover .logo-web-title{ color:#FFF;}
.logo-web-img{ border-radius:8.5px; width:50px; margin:0 11px; padding:4px; background:#09F;}
.logo-web-img img{ height:50px; width:50px; border-radius:6px;}
.logo-web-title{ height:30px; width:80px; line-height:30px; text-align:center; overflow:hidden; color:#888;}
.logo-list-more{ height:auto; width:160px; position:absolute; top:90px; left:-45px; padding-top:10px; display:none; word-wrap:break-word;word-break:break-all; z-index:10;  } 
.logo-list-more-j{ height:0; width:0; border:5px solid transparent; border-bottom-color:#f4f4f4; position:absolute; top:0; left:79px;}
.logo-list-more-info{ height:auto; width:140px;  background:#FFF; color:#444; line-height:20px; padding:15px; border-radius:6px; background:rgba(255,255,255,0.95)!important;filter:Alpha(opacity=95);-webkit-box-shadow:1px 2px 10px #555;  -moz-box-shadow:1px 2px 10px #555; box-shadow:1px 2px 10px #555;}
.word-ad{ width:450px; height:200px; float:left;} 
.word-ad li{ width:149px; height:39px; margin:0 1px 1px 0; background:#52B6EF; float:left}
.word-ad li a{ display:block; line-height:39px; width:149px; text-align:center; color:#FFF;}
.word-ad li:hover{ background-color:#ec6a6a;}
/*首页幻灯*/    
.ck-slide { width:600px; height:199px;position: relative; overflow: hidden; background:#FFF;} 
.ck-slide ul { margin:0; padding:0; list-style-type:none;}
.ck-slide-wrapper { height:199px;}
.ck-slide-wrapper { position:absolute; top:0;left:0; z-index:1; margin:0; padding:0;}
.ck-slide-wrapper li { position:absolute; width:600px; background:#FFF; display:none;}/*默认隐藏*/
.ck-slide-wrapper li img{height:199px;}
.ck-slide-wrapper li:first-child{ display:block;}/*显示第一张*/
.ck-slide-wrapper li:hover img{filter:alpha(opacity=90);-moz-opacity:0.90; opacity:0.90;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top:50%; z-index:2; width:35px; height:70px; margin-top:-35px; border-radius:3px; opacity:0.3; background:red; text-indent:-9999px; background-repeat:no-repeat; transition:opacity 0.2s linear 0s;}
.ck-slide .ck-prev { left:10px; background:url(images/arrow-left.png) #000 50% no-repeat;}
.ck-slide .ck-next { right:10px; background: url(images/arrow-right.png) #000 50% no-repeat;}
.ck-slidebox { position: absolute; left:50%; bottom:12px; z-index:30;}
.ck-slidebox ul { height:22px; padding:0 8px; border-radius:11px; background:rgba(0,0,0,0.5);}
.ck-slidebox ul li { float:left; height:6px; margin:8px 4px;}
.ck-slidebox ul li em { display:block; width:6px; height:6px; border-radius:100%; background-color:#FFF; text-indent:-9999px; cursor:pointer;}
.ck-slidebox ul li.current em { background-color:#fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}
.webbox_title{ height:32px; clear:both; position:relative; overflow:hidden;} 
.webbox_title div{ height:32px; width:150px; line-height:34px; text-indent:70px; color:#FFF; background:#52b6ef; font-weight:900}
.webbox_title p{ width:0; height:0; position:absolute; left:150px; border-top:32px solid transparent; border-bottom:32px solid transparent; border-left:32px solid #52b6ef;}
.webbox_title .apply{ line-height:32px; color:#FFFFFF;  font-size:12px;}
.webbox_title .apply:hover{ color:#F00;}
.webbox_list{ width:1008px; height:auto; padding:20px; border:1px solid #FFF; background:#FFF;}
.webbox_list li{ height:32px; width:144px; float:left;}
.webbox_list li a{ display:block; width:144px;text-indent:30px; text-transform:capitalize;  background:url(images/point.png) 6px center no-repeat; background-size:16px 16px;  line-height:32px; font-size:12px; text-align:left;}
.webbox_list li a.hot{ background:url(images/hot.gif) 6px center no-repeat;}
.webbox_list li img{ margin-bottom:4px; margin-left:5px;}
.webbox_list li:hover a{ color:#FFF; transition:color 5s;-moz-transition:color 5s; -webkit-transition:color 5s; -o-transition:color 5s;}
.webbox_list li:hover{ background-color:#ec6a6a; transition:background-color 5s;-moz-transition:background-color 5s; -webkit-transition:background-color 5s; -o-transition:background-color 5s;}
.fs17{font-size:17px;}
.fs16{font-size:16px;}
.fs14{font-size:14px;}
.fs12{font-size:12px;}
.cu{ font-weight:bolder; font-size:12px;}
.hong{ color:#F00}
.lan{ color:#36F}
.lv{ color:#090}
.fen{ color:#F3F}
.zi{ color:#90F}
.hei{ color:#333}
.huang{ color:#FC0}
.hui{ color:#999; font-size:12px;}
.border{ font-weight:bolder;}
.lh20{ line-height:20px;}.lh26{ line-height:26px;}.tac{ text-align:center;}
.words{ width:1050px; padding:0 0px 20px 0px; margin:auto; background:#FFF;}
.words .words_box{ width:1045px; border-right:1px solid #F0F0F0; border-top:1px solid #F0F0F0; overflow:hidden}
.words .words_box .words_list{ width:1045px;}
.words .words_box .words_list a{display:inline-block; width:260px; height:32px; line-height:32px; float:left; border-left:1px solid #F0F0F0; border-bottom:1px solid #F0F0F0;}
.words .words_box .words_list a div{ width:116px; height:30px; float:left; text-align:right;}
.words .words_box .words_list a span{ font-size:11px; color:#666; padding-left:10px;}
.words .words_box .words_list a:hover{ background:#F8F8F8;}
.words .words_box .words_list a:hover span{ color:#06C;}
#nav-plane{position:fixed;top:50%; margin-top:-200px; left:50%; margin-left:563px;}
#nav-plane ul{  padding:10px 0; background-color:#52b6ef; border-radius:6px; z-index:999;}
#nav-plane li a{ display:inline-block; text-align:center; line-height:27px; width:50px; color:#FFF;}
#nav-plane ul li a:hover{ background:#3fa1da;}
#nav-plane ul li.active a{ background:#F66; color:#fff;}
#shortcut-box a{ display:block; margin-top:1px; height:40px; width:50px; line-height:40px; color:#FFF; text-align:center; background-color:#52b6ef;border-radius:6px;cursor:pointer}
#shortcut-box .qrcode i{ display:none; position:absolute; left:-152px;top:0; overflow:hidden; z-index:1000;}
#shortcut-box .qrcode {position:relative;}
#shortcut-box .qrcode img{width:152px;height:152px;}
#shortcut-box .gotop{ background:#52b6ef url(images/top.png) center center no-repeat;}
#shortcut-box .hoverBg:hover{ background-color:#e06060;}
#footer{ width:100%; background:#52B6EF; border-top:1px solid #666; color:#ececec}
.footmain{ height:50px; margin:auto; padding:30px 0;}
.footlogo{ height:50px; width:160px; float:left; line-height:50px; }
.copyright{ height:50px; font-size:14px; line-height:50px; text-align:left; text-indent:280px;}
.copyright span{ float:right; color:#F1E8E8}